.btn
  background: rgba(0, 119, 255, 1)
  width: 100px
  height: 40px
  line-height: 40px
  border-radius: 40px
  background: rgba(0,119,226, 1)
  color: #ffffff
  font-size: 18px
  text-align: center
  &:active
    opacity: .8
